/* ======================================
Table of Contents:
1. Global Styles
    1a. Button Styles
    1b. Background Color Styles
    1c. Icon Styles
2. Typography
3. Header & Nav
    3.1. Desktop Nav & Header 
4. Home Banner Section
5. Mobile Search Section
6. Mobile App Download Section
7. How It Works Section
8. Categories Section
9. Specials Section
10. About Page 
10.1 About Banner
10.2 Bryce 
10.3 Mergham
10.4 Nicole 
10.5 Kellee
10.6 Eleanor
11. Shop Page
11.1 Shop Banner
11.2 Shop Products
12. Footer/Accordian
13. Media Queries 


========================================*/
/* ? ===================================
? >>> VARIABLES <<<
    Font Families:

    font-family: 'Sen', sans-serif;
     font-weight: 400;
     font-weight: 700;
     font-weight: 800;

    font-family: 'Staatliches', cursive;

    Colors:
        Yellow: #F5F2B1
        Dark Green: #4B6E43
        Light Green: #97C45F
        Orange: #F09C46
        Teal: #36676A


?======================================= */
/* ======================================
1. Global Styles
========================================*/

.body {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    overflow: hidden;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* ======================================
1a. Button Styles
========================================*/

.btn {}

.btn-img {
    width: auto;
    height: 10vw;
    max-height: 76px;
    padding: 0;
    margin: 0;
}

.btn-none {
    border: none;
    padding: 0;
    background-color: transparent;
}

.btn-primary {
    background-color: teal;
    border-color: teal;
}

/* ======================================
1b. Background Color Styles
========================================*/

.bg-white {
    background-color: #fff;
}

.bg-ltgrn30 {
    background-color: rgba(132, 194, 169, 0.30);
}

.bg-ltgrn {
    background-color: #97C45F;
}

.bg-teal {
    background-color: #36676A;
}

.bg-ltylw {
    background-color: hsla(57, 77%, 83%, 0.5)
}

.bg-orange30 {
    background-color: rgba(240, 155, 70, 0.30);
}

/* ======================================
1c. Icon Styles
========================================*/

.icon {
    fill: #f09C46
}

/* ======================================
2. Typography
========================================*/

.h1,
.h2,
.h3,
.h4,
.h5 {
    margin: 0;
}

.h1 {
    font-size: 24px;
    font-family: 'Staatliches', cursive;
}

.h2,
.h3 {
    font-family: 'Staatliches', cursive;
    text-align: center;
}

.h2 {
    font-size: clamp(24px, 5vw, 38px);
}

.h3 {
    font-size: clamp(22px, 5vw, 56px);
}

.h4 {
    font-size: clamp(14px, 3vw, 32px);
    font-weight: 700;
}

.h5 {
    font-size: clamp(16px, 3vw, 36px);
    font-family: 'Staatliches', cursive;
}

h6 {
    font-size: 16px;
    font-weight: 700;
}

.p {
    font-size: clamp(11px, 3vw, 20px);
    text-align: left;
}

.yellow {
    color: #F5F2B1;
}

.orange {
    color: #F09C46;
}

.green {
    color: #4B6E43;
}

.shop-p {
    font-family: 'Sen', sans-serif;
    font-size: clamp(11px, 3vw, 16px);
}

/* ======================================
3. Header & Nav
========================================*/

.header .navbar {
    height: 100px;
    font-family: 'Sen', sans-serif;
}

.header .navbar {
    height: 100px;
}

.header .navbar .container-fluid .navbar-brand.absolute {
    top: -5px;
    left: calc(50vw - 67.5px);
    z-index: 1000;
}

.header .navbar .container-fluid .navbar-brand .relative {
    background-color: #fff;
    border-radius: 50%;
}

.header .navbar .container-fluid .collapse {
    z-index: 999;

}

.header .navbar .container-fluid .collapse .form-control {
    border: none;
}

.header .navbar .container-fluid .collapse .form-control::placeholder {
    color: #4B6E43;
    font-size: 14px;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}

/*===================================== 
3.1 Desktop Nav Bar 
==========================================*/

/*------ IN MEDIA QUERIES -----*/

/* ======================================
4. Home Banner Section
========================================*/

.home.bnr {
    background-image: url('../img/hero/home-bnr-bg.jpg');
    background-size: 100%;
    background-position-y: center;
    height: 50vw;
}

/* ======================================
5. Mobile Search Section
========================================*/

.mobileSearch .form-control {
    border: none;
}

.mobileSearch .form-control::placeholder {
    color: #4B6E43;
    font-size: 14px;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}

/* ======================================
6. Mobile App Download Section
========================================*/


/* ======================================
7. How It Works Section
========================================*/

.explain .relative img {
    width: auto;
}

.explain .d-flex img,
.explain .d-flex .h4 {
    z-index: 1;
}

.explain .d-flex .h4 {
    margin-top: 10vw;
}

.explain .d-flex .bg-ltgrn {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    top: 0;
    left: 35%;
}

s
.explain .d-flex .arrow {
    height: 130px;
    width: auto;
}

.explain .browse .arrow {
    right: 15vw;
    top: 25vw;
}

.explain .browse img {
    height: 20vw;
}

.explain .add .arrow {
    left: 15vw;
    top: 50vw;
    height: 20vw;
}

.explain .add .bg-ltgrn {
    top: 10vw;
}

.explain .add img {
    height: 40vw;
}

.explain .deliver .bg-ltgrn {
    top: 15vw;
    left: calc(50vw - 15vw);
}

.explain .deliver img {
    height: 40vw;
}

.explain .add .bg-ltgrn {
    top: 10vw;
    left: 36%;
}



/* ======================================
8. Categories Section
========================================*/

.categories .cat-carousel .category {
    width: 50vw;
    min-width: 178px;
    height: 25vw;
    min-height: 93px;
    background-color: black;
    margin: 0 8px;
}

.categories .cat-carousel .flickity-viewport {
    height: 25vw !important;
    min-height: 100px;
}

.cat1 {
    background-image: url("../img/catagories/fruits.jpg");
    background-size: 100%;
}

.cat2 {
    background-image: url("../img/catagories/meats.jpg");
    background-size: 100%;
}

.cat3 {
    background-image: url("../img/catagories/bakery.jpg");
    background-size: 100%;
}

.cat4 {
    background-image: url("../img/catagories/seafood.jpg");
    background-size: 100%;
}

.cat5 {
    background-image: url("../img/catagories/snacks.jpg");
    background-size: 100%;
}

.cat6 {
    background-image: url("../img/catagories/eggs.jpg");
    background-size: 100%;
}

/* ======================================
9. Specials Section
========================================*/

.sectiom.specials {
    height: 250vh;
}

.specials .special-carousel .flickity-button {
    background: transparent;
}

.specials .special-carousel .flickity-slider {
    /* margin-left: 5vw; */

}

.specials .special-carousel .flickity-prev-next-button.previous {
    left: 0px;
}

.specials .special-carousel .flickity-prev-next-button.next {
    right: 0px;
}

.specials .special-carousel .flickity-button-icon .arrow {
    fill: #f09C46;
    width: 25px;
    height: 41px;
}

.specials .special-carousel .items img {
    height: 198px;

}

.specials .special-carousel .items {
    margin: 0 40px 0 40px;
}

.specials-center {
    position: relative;

    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
}


/* ======================================
10. About Section
========================================*/

.about-width {
    width: 80vw;
    margin: 0 auto;
}

.name-right {
    margin-right: 10px;
}

/* ======================================
10.1 About Banner 
========================================*/

.about.bnr {
    background-image: url("../img/hero/carousel-img-3.jpg");
    font-size: 24px;
    color: #F5F2B1;
    font-family: 'Staatliches', cursive;
    background-size: 100%;
    background-position-y: center;
    height: 50vw;
}

.h2.orange {
    line-height: 0px !important;
    padding-bottom: 2vh;
}

.p.about  {
    padding-top: 5%;
    font-family: 'Sen', sans-serif;
}

/* ======================================
10.2 Bryce
========================================*/

.bryce {
    margin: 5% 5% 10% 5%;
   
}

.bryce .d-flex .relative .bg-ltgrn {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 10%;
    bottom: 1%;
}

.bryce .d-flex .relative {
    width: 28vw;
}

.bryce .d-flex .relative img {
    width: 25vw;
    z-index: 1;
}

/* ======================================
10.3 Mergan
========================================*/

.mergan {
    margin: 5% 5% 10% 5%;
}

.mergan.d-flex .relative .bg-ltgrn {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 2%;
    bottom: 10%;
}

.mergan.d-flex .relative {
    width: 28vw;
}

.mergan.d-flex .relative img {
    width: 23vw;
    z-index: 1;
}

/* ======================================
10.4 Nicole 
========================================*/

.nicole .d-flex .relative .bg-ltgrn {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 3%;
}

.nicole .d-flex .relative img {
    width: 20vw;
    height: 20vw;
    z-index: 1;
}

.nicole .d-flex .relative {
    width: 22vw;
}

.nicole {
    margin: 5% 5% 10% 5%;
}

/* ======================================
10.5 Kellee
========================================*/

.kellee {
    margin: 5% 5% 10% 5%;
}
.relative .bg-ltgrn {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 2%;
    bottom: -7%;
}

.kellee .d-flex .relative {
    width: 28vw;
}

.kellee.d-flex .relative img {
    width: 25vw;
    z-index: 1;
}

/* ======================================
10.6 Eleanor
========================================*/

.eleanor {
    margin: 5% 5% 10% 5%;
}

.eleanor.d-flex .relative .bg-ltgrn {
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: -3%;
    bottom: 10%;
}

.eleanor.d-flex .relative {
    width: 22vw;
}

.eleanor .d-flex .relative img {
    width: 23vw;
    z-index: 1;
}

/* ======================================
11. Shop Page
========================================*/
/* ======================================
11.2 Shop Banner 
========================================*/

.shop.bnr {
    background-image: url("../img/hero/carousel-img-8.jpg");
    font-size: 29px;
    color: #F5F2B1;
    font-family: 'Staatliches', cursive;
    background-size: 100%;
    background-position-y: center;
    height: 50vw;
}

/* ======================================
11.2 Shop Products
========================================*/

.shop-search {
    background-color: #333333;
}

.row {
    margin: auto;
    margin-top: 10vw;
}

.card {
    border: none;
    width: 50%;
    height: 40%;
    padding: 10px;
}

.add-icon {
    position: relative;
    top: 0vh;
    left: 2vw;
    width: 20vw;
}

.card-text {
    margin-bottom: 0 !important;
}

.shop-search {
    color: #4B6E43;
    font-size: 14px;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    margin-top: 1vh;
    border: none;
    background-color: #F4F4F4;
}




/* ======================================
12. Footer/Accordian
========================================*/
/*Accordian*/

.accordion-button:not(.collapsed),
.footer .accordion-button:focus {
    color: #4B6E43;
    background-color: rgba(151, 196, 95, 0.50);
    border-color: #4B6E43;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    background-image: url("../img/icons/1Vector.svg");
}

.accordion-body {
    background-color: rgba(151, 196, 95, .3);
}

.accordion-body a {
    color: #333333;
    text-decoration: none;
}

.accordion-body a:hover {
    color: rgba(151, 196, 95, 0.50)
}

/* Footer */

.footer {
    font-family: 'Sen', sans-serif;
}

.footer p {
    color: #F5F2B1;
}

.footer .d-flex img {
    width: 22vw;
    max-height: 30px;
    padding-right: 1vw;
}

.footer .d-flex .p {
    margin-bottom: 0.5vh !important;
}

.footer .d-flex .social,
.footer .d-flex .download {
    width: 52vw;
    max-width: 300px;
}

.footer .d-flex .social ul {
    width: 100%;
}

.desktop-copy {
    color: #F5F2B1;
    padding-top: 2vh;
    padding-bottom: 1vw;
    margin-bottom: 0vw !important;
    text-align: center;
}

.hide-bottom {
    display: none;
}

.bi {
    color: #F5F2B1;
    width: 6vw;
}

/* ======================================
13. Media Queries
========================================*/

@media (min-width: 200px) {
    .img.d {
        display: none;
    }

    .nav-item.d {
        display: none;
    }

    .mob-app-d-hide {
        display: none;
    }

    .home-p {
        margin: 30px;
    }

    /* shop filter section 200px*/
    .filter.absolute {
        display: none;
    }

    .btn-atc {
        display: none;
    }

    .fa-star {
        display: none;
    }

    .bi-heart {
        display: none;
    }
/* footer section 200px */
    .desktop-footer {
        display: none;
    }

    .d-flex .download .p {
        text-align: center;
        padding-right: 3vw;
    }
}

@media (min-width: 993px) {

    .h1 {
        font-size: 40px;
        font-family: 'Staatliches', cursive;
    }
    .img.m {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #36676A;
        font-size: 18px;
    }

    .nav-item.d {
        display: contents;
        text-decoration: none;
    }

    .nav {
        font-family: 'Sen', sans-serif;
        background-color: #36676A;
    }

    .nav-link.d {
        color: #F5F2B1 !important;

    }

    .img.d {
        display: block;
        width: 150px;
        padding-top: 20px
    }

    .button {
        margin-top: 3.8vh;
    }

    .d-flex .about-search {
        background-color: rgba(151, 196, 95, .3);
    }

    .d-flex .bi-search {
        padding-right: 20px;
        color: #4B6E43;
    }
    .bi.bi-cart-fill {

        position: absolute;
        top: 38%;
        right: 0%;
        z-index: 1001;
    }

    /* mobil eapp download section */

    .home-p {
        margin: 0;
        margin-bottom: 10px;
    }

    .p{
        font-size: 30px;
        font-family: 'Sen', sans-serif;
    }

    .h2.orange {
        font-size: 60px;
    }

    .d-flex .download .p {
        font-size: 20px;
        text-align: left;
        width: 463px;

    }
    .social .p {
        font-size: 20px;
        text-align: left;
    }

    /* Mobile Download section */

    .desk-center {
        margin: 5% 10% 5% 10%;
    }

    .mob-app-d-hide {
        padding-right: 25px;
        display: block;
        height: 30vh;

    }

    .btn-img {
        height: 6vh;
    }

    .appDwnld .p {
        font-size: 25px;
    }

    .af {
        text-align: left;
    }

    /* HOW IT WORKS SECTION*/
    .explain .browse {
        left: -23vw;
        top: 5vw;
    }

    .explain .browse .arrow {
        right: 15vw;
        top: 4vw;
        transform: rotate(-60deg)
    }

    .explain .d-flex .arrow {
        height: 200px;
    }

    .explain .add {
        right: 1vw;
        top: -15vh;
    }

    .explain .add .arrow {
        left: 8vw;
        top: 5vw;
        height: 20vw;
        transform: rotate(60deg);

    }

    .explain .add .bg-ltgrn {
        top: 10vw;
        left: 60%;
    }

    .explain .deliver {
        top: -20vh;
        left: -20vw;
    }

    .add img {
        padding-left: 50vw;
    }

    .explain .add .bg-ltgrn {
        right: 10vw;
    }

    .text-padding {
        position: relative;
        left: 25vw;
    }

    .explain .d-flex .h4 {
        margin-top: 9vh;
    }

    .explain .d-flex .h4.wd {
        margin-top: 5vh;
    }
/* weekly specials seciton */
    .specials .special-carousel .items {
        width: 300px;
        height: 375px;
        margin-left: 70px;
    }

    .specials-center {
        position: relative;
        left: -23px;
        text-align: center;
        font-family: 'Sen', sans-serif;
        font-size: 16px;
    }

    .specials .special-carousel .items img {
        height: 250px;
    }

    /* Shop section*/
    .shop.bnr {
        background-image: none;
        height: 20vh;
        color: #36676A;
    }

    .shop-search {
        display: none;
    }

    .filter.absolute {
        display: contents;
    }

    .filter fieldset {
        position: absolute;
        top: 150px;
        z-index: -1;
        background-color: #82c2a86e;
        width: 18vw;
        height: 80%;
        font-family: 'Sen', sans-serif;
    }

    .filter-list {
        position: relative;
        top: 6vh;
        left: 2vw;
        font-size: 18px;

    }

    .btn-hide {
        display: none;
    }

    .card {
        z-index: -2;
        width: 310px;
        height: 450px;
        margin: 3vw;
        box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.4);
    }

    .card img {
        width: 200px;
    }

    .card-body {
        font-family: 'Sen', sans-serif;
    }

    .products {
        margin-left: 25vw;

    }

    .add-icon {
        display: none;
    }

    .btn-atc {
        display: block;
        color: #fff;
        background-color: #97C45F;
        border-radius: 50px;
        width: 300px;
        height: 50px;
        box-shadow: 2px 3px rgba(128, 128, 128, 0.4);
    }

    .bi-heart-fill {
        position: relative;
        top: 2vh;
        left: 10px;
        border: 2px solid #97c45f;
        margin: 5px;
        box-shadow: 2px 3px rgba(128, 128, 128, 0.4);
    }

    .bi-heart {
        display: block;
        width: 60px;
        height: 40px;
        padding: 10px;
    }

    .fa-star {
        display: block;
        color: #C4C4C4;
    }

    .checked {
        color: orange;

    }

    .hero {
        font-size: 50px;
    }
/* Footer section 992px*/
    .accordion {
        display: none;
    }

    .desktop-footer {
        display: contents;
    }

    .desktop-footer a {
        text-decoration: none;
        color: #333333;
    }

    .footer p {
        color: #333333;
    }

    .d-flex .service ul {
        width: 18vw;
    }

    .d-flex .quick ul {
        width: 15vw;
    }

    .bg-teal {
        background: #97C45F;
    }

    .desktop-copy {
        background-color: #36676A;
        color: #F5F2B1;
    }

    .hide-bottom {
        display: contents;
    }

    .p-bottom {
        padding-left: 29vw;
        padding-right: 25vw;
    }

    .social .p {
        color: #333333;
        text-align: left;
    }

    .d-flex li a svg {
        color: #333333;
    }

    .footer .d-flex img {
        width: 10vw;
        max-height: 30px;
    }

    .footer .d-flex .social ul {
        width: 0;
    }

    .accordion-body ul {
        margin-left: 1vw;
    }

    .bi {
        width: 3vw;
    }

    .footer .d-flex .social, .footer .d-flex .download {
        width: 234px;
        max-width: 239px;
    }
}

@media (min-width: 1300px){
.card {
    width: 376px;
}




@media (min-width: 1400px) {
    .nav {
        height: 50px;
        font-size: 24px;
        align-content: center;

    }

    .nav .mt-4 {
        margin-top: 4rem;

    }

    .img.d {
        display: block;
        width: 200px;
        padding-top: 20px
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 28px;
    }
}

@media (min-width: 1500px) {
    .p{
        font-size: 35px;
    }
    .h2.orange {
        font-size: 70px;
    }

    .explain .d-flex .arrow {
        height: 300px;
    }

/* fiilter list on shop page 1500px  */
    .filter-list {
        font-size: 26px;

    }

    .hero {
        position: relative;
        left: 6vw;
        font-size: 60px;
    }

    .card {
        width: 392px;
    }

    .products {
        margin-left: 26vw;
    }
}
}
@media (min-width: 2000px) {

    .h1.yellow {
        font-size: 131px;
    }

    .p{
        font-size: 55px;
    }

    .desk-center {
        margin: 5% 15% 5% 15%;
    }

    .desk-center .p {
        font-size: 40px;
    }

    .h2.af {
        font-size: 70px;
    }

    .btn-img {
        height: 8vh;
        max-height: 150px;
    }

    .explain .d-flex .arrow {
        height: 350px;
    }

    .explain .d-flex .h4 {
        font-size: 70px;
    }

    .explain .d-flex .h4 {
        margin-top: 9vw;
    }

    .explain .deliver .h4 {
        margin-top: 5%;
    }

    .h5.yellow {
        font-size: 70px;
    }

    .specials .special-carousel .items {
        width: 400px;
        height: 500px;
        margin-left: 70px;
    }

    .specials-center {
        position: relative;
        left: -63px;
        text-align: center;
        font-family: 'Sen', sans-serif;
        font-size: 30px;
    }
.specials-center h5 {
    font-size: 40px;
}
    .specials .special-carousel .items img {
        height: 300px;
        width: 300px;
    }

    .add-icon-special {
        height: 50px;
        width: 50px;
    }
   .py-2 {
        padding-top: 3.7rem!important;
        padding-bottom: 1rem!important;
    }

    .d-flex.bg-teal.px-2.py-2.justify-content-between {
        font-size: 30px;
    }
    .d-flex.bg-teal.px-2.py-2.justify-content-between h6 {
        font-size: 40px;
    }

    .d-flex .download .p {
        font-size: 40px;
        text-align: left;
        width: 500px;

    }


    .d-flex li a svg {
        height: 50px;
    }

    .social .p {
        font-size: 40px;
        text-align: left;
    }

    .footer .d-flex .social, .footer .d-flex .download {
        width: 52vw;
        max-width: 365px;
        padding-right: 40px;
    }
    .footer .d-flex img {
        /* width: 10vw; */
        /* max-height: 30px; */
        width: 22vw;
    max-height: 60px
    }

    .footer .d-flex .p {
       margin-bottom: 0; 
    }
    .desktop-copy {
        font-size: 30px;
    }


    .h2.orange {
       font-size: 90px;
    }
    .card {
        z-index: -2;
        width: 417px;
        height: 450px;
        margin: 2vw;
    }

    .products {
        margin-left: 27vw;
    }

    .hero {

        font-size: 90px;
    }
}