/* ======================================
Table of Contents:
1. Global Styles
2.


========================================*/

/* ? ===================================

Font Families 

 font-family: 'Sen', sans-serif;
    font-weight: 400;
    font-weight: 700;
    font-weight: 800;

 font-family: 'Staatliches', cursive;


?======================================= */



/* ======================================
1. Global Styles
========================================*/
.body{
    font-family: 'Sen', sans-serif;
    font-weight: 400;

}


